
:root {
    --colorPaletteGreenGreen1100: #0e2a21;    
    --colorPaletteGreenGreen1000: #1c4130;    
    --colorPaletteGreenGreen900: #2d6944;    
    --colorPaletteGreenGreen800: #3c884d;    
    --colorPaletteGreenGreen700: #4ca45a;    
    --colorPaletteGreenGreen600: #5ab261;    
    --colorPaletteGreenGreen500: #78c767;    
    --colorPaletteGreenGreen400: #8fda75;    
    --colorPaletteGreenGreen300: #a9e297;    
    --colorPaletteGreenGreen200: #ccf0c2;    
    --colorPaletteGreenGreen100: #ddf3d9;    
    --colorPaletteGreenGreen0: #eef9ec;    
    --colorPaletteBlueBlue1100: #00213f;    
    --colorPaletteBlueBlue1000: #18395d;    
    --colorPaletteBlueBlue900: #245685;    
    /* This is our new main color :) */
    --colorPaletteBlueBlue800: #306ca5;    
    --colorPaletteBlueBlue700: #3a79bd;    
    --colorPaletteBlueBlue600: #4587cd;    
    --colorPaletteBlueBlue500: #5196dd;    
    --colorPaletteBlueBlue400: #6aacef;    
    --colorPaletteBlueBlue300: #aad2f4;    
    --colorPaletteBlueBlue200: #cde3f7;    
    --colorPaletteBlueBlue100: #e0f1fe;    
    --colorPaletteBlueBlue0: #ecf8fe;    
    /* Darkest aqua there is */
    --colorPaletteAquaAqua1100: #0b2737;    
    /* Slightly less aquatic, still deep as an ocean */
    --colorPaletteAquaAqua1000: #193c4d;    
    --colorPaletteAquaAqua900: #265d71;    
    --colorPaletteAquaAqua800: #316c82;    
    --colorPaletteAquaAqua700: #3a8396;    
    --colorPaletteAquaAqua600: #4295ab;    
    --colorPaletteAquaAqua500: #54b5cb;    
    --colorPaletteAquaAqua400: #6ad3df;    
    --colorPaletteAquaAqua300: #91e2e1;    
    --colorPaletteAquaAqua200: #b5f0f1;    
    --colorPaletteAquaAqua100: #d0f7f8;    
    --colorPaletteAquaAqua0: #e0fbfb;    
    --colorPalettePurplePurple1100: #1d1e36;    
    --colorPalettePurplePurple1000: #2b2667;    
    --colorPalettePurplePurple900: #453e96;    
    --colorPalettePurplePurple800: #5a52b4;    
    --colorPalettePurplePurple700: #6b62cc;    
    --colorPalettePurplePurple600: #7d73e2;    
    --colorPalettePurplePurple500: #8d84ed;    
    --colorPalettePurplePurple400: #9e95ec;    
    --colorPalettePurplePurple300: #c0c2f3;    
    --colorPalettePurplePurple200: #d8d8f6;    
    --colorPalettePurplePurple100: #eaeaf8;    
    --colorPalettePurplePurple0: #f2f2f8;    
    --colorPaletteNeutralNeutral1100: #040404;    
    --colorPaletteNeutralNeutral1000: #182020;    
    --colorPaletteNeutralNeutral900: #293333;    
    --colorPaletteNeutralNeutral800: #384141;    
    --colorPaletteNeutralNeutral700: #545e5f;    
    --colorPaletteNeutralNeutral600: #70797a;    
    --colorPaletteNeutralNeutral500: #939a9b;    
    --colorPaletteNeutralNeutral400: #b1b6b7;    
    --colorPaletteNeutralNeutral300: #c9cccc;    
    --colorPaletteNeutralNeutral200: #dfe1e1;    
    --colorPaletteNeutralNeutral100: #f3f4f4;    
    --colorPaletteNeutralNeutral0: #ffffff;    
    --colorPaletteTealTeal1100: #0b2427;    
    --colorPaletteTealTeal1000: #1b3e3e;    
    --colorPaletteTealTeal900: #2a6461;    
    --colorPaletteTealTeal800: #357a7b;    
    --colorPaletteTealTeal700: #42948e;    
    --colorPaletteTealTeal600: #4aa69c;    
    --colorPaletteTealTeal500: #58c1b2;    
    --colorPaletteTealTeal400: #6addc6;    
    --colorPaletteTealTeal300: #97e7d5;    
    --colorPaletteTealTeal200: #c0f0e6;    
    --colorPaletteTealTeal100: #d5f6ef;    
    --colorPaletteTealTeal0: #e9f8f5;    
    --colorPalettePinkPink1100: #281821;    
    --colorPalettePinkPink1000: #4f1930;    
    --colorPalettePinkPink900: #872647;    
    --colorPalettePinkPink800: #a43b5b;    
    --colorPalettePinkPink700: #be4466;    
    --colorPalettePinkPink600: #cf517c;    
    --colorPalettePinkPink500: #de638b;    
    --colorPalettePinkPink400: #ee7fad;    
    --colorPalettePinkPink300: #f19bc0;    
    --colorPalettePinkPink200: #f4b8d4;    
    --colorPalettePinkPink100: #f7dcea;    
    --colorPalettePinkPink0: #fbeaf2;    
    --colorPaletteRedRed1100: #281212;    
    --colorPaletteRedRed1000: #641c18;    
    --colorPaletteRedRed900: #8d2d28;    
    --colorPaletteRedRed800: #b6403b;    
    --colorPaletteRedRed700: #ca4b45;    
    --colorPaletteRedRed600: #dc584a;    
    --colorPaletteRedRed500: #e56a5b;    
    --colorPaletteRedRed400: #ef8674;    
    --colorPaletteRedRed300: #f1a193;    
    --colorPaletteRedRed200: #f4bbb3;    
    --colorPaletteRedRed100: #f8d7d3;    
    --colorPaletteRedRed0: #fbebe9;    
    --colorPaletteOrangeOrange1100: #2a140f;    
    --colorPaletteOrangeOrange1000: #581d09;    
    --colorPaletteOrangeOrange900: #8a341a;    
    --colorPaletteOrangeOrange800: #bf5c29;    
    --colorPaletteOrangeOrange700: #de763a;    
    --colorPaletteOrangeOrange600: #e68246;    
    --colorPaletteOrangeOrange500: #ee8e53;    
    --colorPaletteOrangeOrange400: #f2a069;    
    /* This is our main color. And this description will show inside the documentation */
    --colorPaletteOrangeOrange300: #f4b388;    
    --colorPaletteOrangeOrange200: #f6c7a9;    
    --colorPaletteOrangeOrange100: #f7ddce;    
    --colorPaletteOrangeOrange0: #fceee4;    
    --colorPaletteYellowYellow1100: #2a1b08;    
    --colorPaletteYellowYellow1000: #4e2c0b;    
    --colorPaletteYellowYellow900: #8b4f1f;    
    --colorPaletteYellowYellow800: #b0772a;    
    --colorPaletteYellowYellow700: #d49b35;    
    --colorPaletteYellowYellow600: #f6be41;    
    --colorPaletteYellowYellow500: #f8ce4c;    
    --colorPaletteYellowYellow400: #fad961;    
    --colorPaletteYellowYellow300: #fbe17f;    
    --colorPaletteYellowYellow200: #fbe9a4;    
    --colorPaletteYellowYellow100: #fbeed1;    
    --colorPaletteYellowYellow0: #fef8e4;    
    --colorPaletteMagentaMagenta1100: #271a2c;    
    --colorPaletteMagentaMagenta1000: #3f1a4e;    
    --colorPaletteMagentaMagenta900: #642a73;    
    --colorPaletteMagentaMagenta800: #854091;    
    --colorPaletteMagentaMagenta700: #a04da3;    
    --colorPaletteMagentaMagenta600: #b659b4;    
    --colorPaletteMagentaMagenta500: #cc6bd5;    
    --colorPaletteMagentaMagenta400: #e38aef;    
    --colorPaletteMagentaMagenta300: #e3b1ee;    
    --colorPaletteMagentaMagenta200: #ecc7f4;    
    --colorPaletteMagentaMagenta100: #f5e4fa;    
    --colorPaletteMagentaMagenta0: #fcf0fe;    
    --colorSemanticPrimaryPrimaryActivebackground: #453e96;    
    --colorSemanticPrimaryPrimaryHoverbackground: #5a52b4;    
    --colorSemanticPrimaryPrimaryHovercolor: #ffffff;    
    --colorSemanticPrimaryPrimaryColor: #ffffff;    
    --colorSemanticTextTextInverse: #ffffff;    
    --colorSemanticTextTextSubtext: #545e5f;    
    --colorSemanticTextTextHeadline: #293333;    
    --colorSemanticTextTextBody: #384141;    
    --colorSemanticErrorErrorColor: #b6403b;    
    --colorSemanticErrorErrorIcon: #b6403b;    
    --colorSemanticErrorErrorBorder: #ef8674;    
    --colorSemanticErrorErrorBackground: #f8d7d3;    
    --colorSemanticWarningWarningColor: #8b4f1f;    
    --colorSemanticWarningWarningIcon: #ba7506;    
    --colorSemanticWarningWarningBorder: #fad961;    
    --colorSemanticWarningWarningBackground: #fbeed1;    
    --colorSemanticSuccessSuccessColor: #2d6944;    
    --colorSemanticSuccessSuccessIcon: #3c884d;    
    --colorSemanticSuccessSuccessBorder: #8fda75;    
    --colorSemanticSuccessSuccessBackground: #ddf3d9;    
    --colorSemanticInfoInfoColor: #3a79bd;    
    --colorSemanticInfoInfoIcon: #306ca5;    
    --colorSemanticInfoInfoBorder: #6aacef;    
    --colorSemanticInfoInfoBackground: #e0f1fe;    
    --colorSemanticOpportunityOpportunityColor: #357a7b;    
    --colorSemanticOpportunityOpportunityIcon: #357a7b;    
    --colorSemanticOpportunityOpportunityBorder: #6addc6;    
    --colorSemanticOpportunityOpportunityBackground: #d5f6ef;    
    --colorSemanticPrimaryPrimaryInnactivebackground: #d8d8f6;    
    --colorSemanticPrimaryPrimaryBorder: #6b62cc;    
    --colorSemanticPrimaryHoverinnactivebackground: #c0c2f3;    
    --colorSemanticSaleSale70Background: #ac7d13;    
    --colorSemanticSaleSale50Background: #b51d4e;    
    --colorSemanticSaleSale30Background: #5869c1;    
    --colorSemanticSaleSaleColor: #b7b7b7;    
    --colorSemanticPrimaryPrimaryBackground: #6b62cc;    
    --colorColorNewStyle: #0e2a21;    
    --colorColorDarkBlue: #ff0000;    
    --colorColorToken1: #ffffff;    
    --colorForegroundNeutralFaded: #606981;    
    --colorForegroundPlaceholder: #7f8694;    
    --colorBackgroundNeutralHighlighted: #182d6614;    
    --colorBackgroundPageFaded: #fafafa;    
    --colorBackgroundCritical: #e22c2c;    
    --colorBackgroundPositive: #118850;    
    --colorBackgroundBlur: #fffffff2;    
    --colorBackgroundBlurNeutral: #f4f5f7f2;    
    --colorBackgroundBlurNeutralHighlighted: #ecedf0f2;    
    --colorBorderNeutralFaded: #eceef3;    
    --colorBorderCriticalFaded: #fbd5d8;    
    --colorBorderPositiveFaded: #cdedd5;    
    --colorBorderUpgradeFaded: #e3dbfa;    
    --colorBorderDisabled: #dfe2ea;    
    --colorBorderFocus: #4589ff;    
    --colorDecorativeCyanForeground: #0e7490;    
    --colorDecorativeCyanBackground: #d5fbfe;    
    --colorDecorativeFuchsiaForeground: #b725cb;    
    --colorDecorativeFuchsiaBackground: #fcf0ff;    
    --colorDecorativeGreyForeground: #4e536a;    
    --colorDecorativeGreyBackground: #edeff3;    
    --colorDecorativeLightGreyForeground: #68718d;    
    --colorDecorativeLightGreyBackground: #f6f7f9;    
    --colorDecorativeOrangeForeground: #c2410c;    
    --colorDecorativeOrangeBackground: #fff2e1;    
    --colorDecorativePinkForeground: #d12372;    
    --colorDecorativePinkBackground: #fdf0f7;    
    --colorDecorativeTealForeground: #107a71;    
    --colorDecorativeTealBackground: #dffdf6;    
    --colorDecorativeYellowForeground: #a16207;    
    --colorDecorativeYellowBackground: #fef9c3;    
    --colorDecorativeNewDecorative: #ffffff;    
    --colorColorNeutral900: #14171f;    
    --colorColorPrimary200: #edf5ff;    
    --colorColorPrimary600: #0f62fe;    
    --colorColorRed600: #cb101d;    
    --colorColorWhite: #ffffff;    
    --colorColorNeutral400: #606981;    
    --colorColorNeutral500: #c7cddb;    
    --colorColorNeutral200Opaque_: #182d660a;    
    --colorColorNeutral100Opaque_: #141a2b05;    
    --colorColorPrimary400: #d0e2ff;    
    --colorColorPrimary700: #004ee1;    
    --colorColorRed100: #fef1f2;    
    --colorColorGreen100: #ebfef6;    
    --colorColorGreen600: #05751f;    
    --colorColorPurple100: #f5f2fd;    
    --colorColorPurple600: #874ce6;    
    --colorColorPurple700: #6a2bbf;    
    --colorColorOrange100: #fef8eb;    
    --colorColorOrange200: #fbe5c5;    
    --colorColorOrange500: #cc4d00;    
    --colorColorOrange600: #b53c0a;    
    --colorColorToken2: #ffffff;    
    --colorForegroundNeutral: var(--colorColorNeutral900);    
    --colorForegroundPrimary: var(--colorColorPrimary600);    
    --colorForegroundCritical: var(--colorColorRed600);    
    --colorForegroundWarning: var(--colorColorOrange600);    
    --colorForegroundPositive: var(--colorColorGreen600);    
    --colorForegroundUpgrade: var(--colorColorPurple600);    
    --colorForegroundDisabled: var(--colorColorNeutral500);    
    --colorBackgroundElevationBase: var(--colorColorWhite);    
    --colorBackgroundElevationRaised: var(--colorColorWhite);    
    --colorBackgroundElevationOverlay: var(--colorColorWhite);    
    --colorBackgroundNeutral: var(--colorColorNeutral200Opaque_);    
    --colorBackgroundNeutralFaded: var(--colorColorNeutral100Opaque_);    
    --colorBackgroundPage: var(--colorColorWhite);    
    --colorBackgroundPrimary: var(--colorColorPrimary600);    
    --colorBackgroundPrimaryHighlighted: var(--colorColorPrimary700);    
    --colorBackgroundPrimaryFaded: var(--colorColorPrimary200);    
    --colorBackgroundCriticalHighlighted: var(--colorColorRed600);    
    --colorBackgroundCriticalFaded: var(--colorColorRed100);    
    --colorBackgroundWarning: var(--colorColorOrange500);    
    --colorBackgroundWarningHighlighted: var(--colorColorOrange600);    
    --colorBackgroundWarningFaded: var(--colorColorOrange100);    
    --colorBackgroundPositiveHighlighted: var(--colorColorGreen600);    
    --colorBackgroundPositiveFaded: var(--colorColorGreen100);    
    --colorBackgroundUpgrade: var(--colorColorPurple600);    
    --colorBackgroundUpgradeHighlighted: var(--colorColorPurple700);    
    --colorBackgroundUpgradeFaded: var(--colorColorPurple100);    
    --colorBackgroundDisabled: var(--colorColorNeutral200Opaque_);    
    --colorBackgroundDisabledFaded: var(--colorColorNeutral100Opaque_);    
    --colorBackgroundFocusHighlight: var(--colorColorPrimary400);    
    --colorBorderNeutral: var(--colorColorNeutral500);    
    --colorBorderPrimary: var(--colorColorPrimary700);    
    --colorBorderPrimaryFaded: var(--colorColorPrimary400);    
    --colorBorderCritical: var(--colorColorRed600);    
    --colorBorderWarning: var(--colorColorOrange600);    
    --colorBorderWarningFaded: var(--colorColorOrange200);    
    --colorBorderPositive: var(--colorColorGreen600);    
    --colorBorderUpgrade: var(--colorColorPurple700);    
    --colorOnBackgroundNeutral: var(--colorColorNeutral900);    
    --colorPersistentBlack: var(--colorColorNeutral900);    
    --colorDecorativeBlueForeground: var(--colorColorPrimary600);    
    --colorDecorativeBlueBackground: var(--colorColorPrimary200);    
    --colorDecorativeGreenForeground: var(--colorColorGreen600);    
    --colorDecorativeGreenBackground: var(--colorColorGreen100);    
    --colorOnBackgroundPrimary: var(--colorColorWhite);    
    --colorOnBackgroundCritical: var(--colorColorWhite);    
    --colorOnBackgroundWarning: var(--colorColorWhite);    
    --colorOnBackgroundPositive: var(--colorColorWhite);    
    --colorOnBackgroundUpgrade: var(--colorColorWhite);    
    --colorPersistentWhite: var(--colorColorWhite);    
    --colorDecorativePurpleForeground: var(--colorColorPurple600);    
    --colorDecorativePurpleBackground: var(--colorColorPurple100);    
    --colorDecorativeRedForeground: var(--colorColorRed600);    
    --colorDecorativeRedBackground: var(--colorColorRed100);    
}